# Portal Credentials
USERNAME="your_email"
PASSWORD="your_password"

# Secure Email API Configuration
RESEND_API_KEY="your_api_key"
RECEIVER_EMAIL="your_email"

# Document Encryption
PDF_PASSWORD="your_password"
